@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model NoThingStore.Models.ShoppingCart

@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Localizer["Product Name"]</th>
            <th>@Localizer["Price"]</th>
            <th>@Localizer["Quantity"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td><a href="@Url.Action("RemoveFromCart", "Cart", new { productId = item.ProductId })">@Localizer["Remove"]</a></td>
            </tr>
        }
    </tbody>
</table>

<div>
    <p>@Localizer["Total"]: @Model.Total</p>
    <a href="@Url.Action("ClearCart", "Cart")">@Localizer["Clear Cart"]</a>
</div>

<div>
    <a href="@Url.Action("Index", "Home")">@Localizer["Continue Shopping"]</a>
    <a href="@Url.Action("Index", "Checkout")">@Localizer["Checkout"]</a>
</div>
