@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model Product
@{
    if (Model.ProductImages.Count == 0)
    {
        ProductImage noImageProductImage = new ProductImage();
        noImageProductImage.ImageUrl = "https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg";
        Model.ProductImages.Add(noImageProductImage);
    }
}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card @(!Model.IsAvailable ? "disabled-card" : "")">
        <a asp-action="Details" asp-route-slug="@Model.Slug" style="text-decoration: none;">
            <img src="@Model.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top" alt="Product Photo">
        </a>

        <div class="card-body">
            <a asp-action="Details" asp-route-slug="@Model.Slug" style="text-decoration: none;">
                <h5 class="card-title">@Model.Name</h5>
            </a>
            <p class="card-text">@Model.ShortDescription</p>
            <h6 class="card-price">@Localizer["Price"]: $@Model.Price</h6>
            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                <input type="hidden" name="productId" value="@Model.Id" />
                <button type="submit" class="btn btn-primary" @(!Model.IsAvailable ? "disabled" : "")>@Localizer["Buy Now"]</button>
            </form>
        </div>
    </div>
</div>
