@model List<Order>

<h1>Orders</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>User Id</th>
            <th>Email</th>
            <th>Order Date</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserId</td>
                <td>@order.Email</td>
                <td>@order.OrderDate.ToShortDateString()</td>
                <td>@order.Total</td>
                <td><a asp-action="EditOrder" asp-route-id="@order.Id">Edit</a></td>
            </tr>
        }
    </tbody>
</table>
