<link rel="stylesheet" href="~/lib/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/lib/glightbox/css/glightbox.min.css" />
<script src="~/js/front.js"></script>

@model NoThingStore.Models.EBook
@{
    ViewData["Title"] = "Details";
}

<section class="py-5">
    <div class="container">
        <div class="card mb-5">
            <div class="row mt-2">
                <div class="col-lg-6">
                    <partial name="_ProductImageGallery" model="Model.ProductImages" />
                </div>
                <div class="col-lg-6">
                    <partial name="_AddToCartPartial" />

                    <h6 class="text-uppercase">Short Specification </h6>
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Id)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Id)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Authorship)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Authorship)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CountOfPages)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CountOfPages)
                        </dd>
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Format)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Format)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- DETAILS TABS-->
        <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link text-uppercase active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase" id="specification-tab" data-bs-toggle="tab" href="#specification" role="tab" aria-controls="specification" aria-selected="false">Specification</a></li>
        </ul>
        <div class="tab-content mb-5" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="p-4 p-lg-5 bg-white">
                    <h6 class="text-uppercase">Product description </h6>
                    <p class="text-muted text-sm mb-0">@Html.DisplayFor(model => model.LongDescription)</p>
                </div>
            </div>
            <div class="tab-pane fade" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                <div class="p-4 p-lg-5 bg-white">
                    <h6 class="text-uppercase">Specification </h6>
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.MegabyteSize)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.MegabyteSize)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Authorship)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Authorship)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Format)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Format)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.CountOfPages)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.CountOfPages)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Name)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Slug)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Slug)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ShortDescription)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ShortDescription)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.LongDescription)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.LongDescription)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.IsAvailable)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.IsAvailable)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.DownloadUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.DownloadUrl)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/swiper/swiper-bundle.min.js"></script>
<script src="~/lib/glightbox/js/glightbox.min.js"></script>
